/**
 * Configure Tailwind v4 in this file using CSS variables and directives:
 * https://tailwindcss.com/blog/tailwindcss-v4-alpha#css-first-configuration 
 */

@import 'tailwindcss';

@theme {
  --color-primary-orange: #e88a60;
  --color-primary-green: #2a4c21;
  --color-light-text: #babb9b;
}
